@font-face {
        font-family: mett;
        src: url(./assets/fonts/Metropolis-Thin.otf);
}



.navbar.navbar-expand-lg.navbar-light{
        background-color: #3c3a1e; 
        font-family: 'mett';
}


.navbar.navbar-expand-lg.navbar-light .navbar-brand
{
        color: rgb(255, 255, 255);
}


.navbar.navbar-expand-lg.navbar-light .nav-link
{
        color: rgb(255, 255, 255);
}


/* section 1 */
.section-1 {
        height: 100vh;

       
}

/* section 2 */
.section-2{
        height: 100vh;
}


.section-3{
        height: 100vh;
}


.section-4{
        height: 100vh;
        background-color: #e8e0d5;
}

/* section one row and colmn */
div.row.no-gutters{

        color: black;
        height: 100vh;
}

/* enjoy your coffee */
.section-1 .row.no-gutters .col-md-8 .col1{
        background-color: #48BEFF;
        height: 100vh;
        font-family: mett;
}
/* font */
.section-1 .row.no-gutters .col-md-8 .col1 h4{
        font-size:2rem;
        /* position: absolute; */

}


.section-1 .row.no-gutters .col-md-4 .col2{
        background-color: bisque;
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}


.section-1 .row.no-gutters .col-md-4 .col2 .card{
        height: 100%;
        width: 100%;
        object-fit: cover;
}


.section-1 .row.no-gutters .col .col2{
        background-color: #14453D;
        height: 100vh;
}


.section-2 .row.no-gutters .col .col2{
        background-color: rgb(43, 226, 61);
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}


.section-2 .row.no-gutters .col .col1{
        background-color: rgb(22, 131, 227);
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}


.section-3 .row.no-gutters .col .col1{
        background-color: rgb(43, 226, 67);
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}


.section-3 .row.no-gutters .col .col2{
        background-color: rgb(226, 141, 43);
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}
.section-4 .row.no-gutters .col .col1{
        background-color: #ded6d6;
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}
.section-4 .row.no-gutters .col .col2{
        background-color: #7d938a;
        height: 100vh;
        font-family: mett;
        font-size:2rem;
}


